body {
	margin: 0;
	height: 100%;
}

.container-allpage {
	display: grid;
	grid-template-areas:
		"sidebar topbar"
		"sidebar msgBody";
	grid-template-columns: 250px 1fr;
	grid-template-rows: 75px 1fr;
	height: 100vh;
}

	.sidebar {
		height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(238, 238, 238);
    overflow-x: hidden;
    padding-top: 100px;
    border-right:1px solid #ccc;
}
.topbar {
		grid-area: topbar;
    border-bottom:1px solid #ccc;
		background-color: rgb(238, 238, 238);
    height:100px;
    width:1000%;
    overflow:hidden;
    position:fiexd;
}
li {
    list-style-type: none;
}
a{
  text-decoration:none;
}
.sidebar i
{
  margin-right:10px;
}
.sidebar a {
  padding: 2px 8px 2px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
@media screen and (max-height: 500px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.scorllbarOne, .scorllbarTwo, .scorllbarThree, .scorllbarFour, .scorllbarFive{
  border-top:1px solid #ccc;
  text-decoration:none;
}
.have-childrenOne, .have-childrenTwo, .have-childrenThree, .have-childrenFour ,.have-childrenFive
{
  border-top:1px solid #ccc;
  text-decoration:none;
}
.announcement
{
  border-bottom:1px solid #ccc;
	background-color: rgb(238, 238, 238);
}
.resident-1
{
  background-color:white;
  padding:8px;
  display:inline;
  width:50px;
  margin:10px 10px;
}
.resident-2
{
  background-color:white;
  padding:8px;
  display:inline;
  width:50px;
  margin:10px 10px;
}
input
{
  border-width:0px;
  border:none;
  margin:10px 10px;
}
.all-btn
{
  display:initial;
  margin:10px 10px;
  
}
.btn-1{
  background-color:red;
  color:white;
  border:1px solid red;
  padding:8px;
  margin-top:13px;
  font-weight:bold;
}
.msgBody
{
  margin-top:29px;
  grid-area: msgBody;
}

.border-game > span
{
  float:right;
}
.btngame
{
  background-color:gray;
  width:40px;
  height:50px;
}
.border-game
{
  border: 5px solid black;
  width:30px;
  margin:10px 20px;
  height:80px;
}
.card-text
{
  color:red;
}